<div class="table">
    <div class="row header">
        <div class="col">C&oacute;digo</div>
        <div class="col">Fecha Programaci&oacute;n</div>
        <div class="col">Estado actual</div>
        <div class="col">Acciones</div>
    </div>
    <div class="row" *ngFor="let agendamiento of agendamientos | async">
        <div class="col">{{agendamiento.codigo}}</div>
        <div class="col">{{agendamiento.programacion}}</div>
        <div class="col">{{agendamiento.estadoActual.nombre}}</div>
        <div class="col acciones">
            <button class="btn btn-primario ver" [routerLink]="calcularEnlace(agendamiento)" [title]="agendamiento.codigo">Ver</button>
            <button class="btn btn-primario cambiar-estado" *ngIf="puedeCambiar(agendamiento)" (click)="onCambiarEstado(agendamiento)">Cambiar Estado</button>
            <button class="btn btn-secundario cancelar" *ngIf="puedeCancelar(agendamiento)" (click)="onCancelar(agendamiento)">Cancelar</button>
        </div>
    </div>
</div>