<div class="container">
    <div class="cabecera">
        <span class="titulo">Has tu solicitud</span>
    </div>
    <div *ngIf="!!formulario" class="entradas" [formGroup]="formulario">
        <div style="margin: 1em auto;">
            <dp-day-calendar formControlName="fecha" class="detalle-box calendario" theme="dp-material" [config]="datePickerConfig"></dp-day-calendar>
        </div>
        <div style="flex: 0 1 100%;">
            <label>Franja</label>
            <select formControlName="franja" class="form-control">
                <option value="07:00:00">Entre 7am - 8am</option>
                <option value="08:00:00">Entre 8am - 9am</option>
                <option value="09:00:00">Entre 9am - 10am</option>
                <option value="10:00:00">Entre 10am - 11am</option>
            </select>
        </div>
        <label>Direcci&oacute;n</label>
        <input class="form-control" formControlName="direccion" />
    </div>
    <div class="acciones">
        <button id="solictar" *ngIf="formulario?.valid" class="btn btn-primario" (click)="onSolicitar()">Solicitar</button>
    </div>
</div>